@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #2b1142;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    text-align: center;
    border: 1px solid #efefef;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 5px 5px #525252 ;
}
.heading{
    color: #07e2e2;
    font-family: "Oswald", sans-serif;
}
.description{
    color: #dddddd;
    font-family: "Montserrat", sans-serif;
}